
<html style='width:100%;height:100vh;background-color:	#E0E0E0'>
    <h1 style='text-align:center;font-size:40px; width:100%;background-color:white;height:20vh; border-radius:15px;margin-top:10px '>Yacine Blogs</h1>

<div style='font-size:20px; width:100%;background-color:white;height:fit-content;padding-bottom:10px; border-radius:15px;margin-top:10px '>
    <a style='text-decoration:none; color:black ;cursor:pointer ' href='#'>
        <h2 style='text-align:center'>{{posts.title}}</h2>
    </a>
        <h5 style='text-align:center'>{{posts.created_at}}</h5>
    <p style='padding:10px'>{{posts.body}}</p>
    
  </div>
</html>
